// for overriding colors
$mainColor = #ffffff
$accentColor = #0098f9
$sidebarActiveColor = #e6f7ff
$siteNameColor = #314659
$siteNameBorderColor = #314659
$inputTextColor = #314659
$buttonBorderColor = #314659
$buttonTextColor = #314659
$picPath = "search1.svg"